# Least Squares Dating 
This script reformats simulation data that is outputted from SuperSimPy into a format that IQTree will accept. 

Method data being prepared for: 

*Thu-Hien To, Matthieu Jung, Samantha Lycett, Olivier Gascuel, Fast Dating Using Least-Squares Criteria and Algorithms, Systematic Biology, Volume 65, Issue 1, January 2016, Pages 82–97, https://doi.org/10.1093/sysbio/syv068*

In [11]:
# Enter the absolute path of the directory with all the SuperSimPy output data in it
sim_data_path = '/home/joel/EBI/SuperSimPy/data/'

The outputted file from this script is referred to as "datefile". 
The command to run after this data is then (inside the datafolder): 

```iqtree2 -s sim.txt --date datefile.txt -te newick_output_tree.nwk```

In [21]:
import pandas as pd
sim_metadata = pd.read_csv(sim_data_path+'newick_output_metadata.tsv', sep='\t')
date_data = sim_metadata[['strain','time']]
date_data.to_csv(sim_data_path + 'datefile.txt', index=False, sep='\t', header=None)

    strain      time
0     $200  0.000000
1      187  2.539365
2      152  4.033053
3       63  8.700728
4      132  4.927104
..     ...       ...
196      8  9.756861
197     17  9.662923
198    186  2.562060
199     85  7.986521
200     95  7.311334

[201 rows x 2 columns]

In [24]:
sample_ids = pd.read_csv(sim_data_path+'newick_output_sample_population.tsv', sep='\t', header=None)[0].to_numpy()
sample_times = date_data[date_data['strain'].isin(sample_ids)]
sample_ids.shape

(201,)